@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Privacy</h4>
<img src="~/schhhh.jpg" height="550" width="1150"/><br /><br />
<img src="~/schhhhhh.jpg" height="550" width="1150"/>
